---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Portfolio.">
  <main style="height: 100%;">
    <canvas style="height: 100%;" id="game"></canvas>
  </main>
</Layout>
<script>
  import kaboom from "kaboom";

  const k = kaboom({
    font: "sans-serif",
    canvas: document.querySelector("#game"),
    background: [24, 24, 24],
  });

  const SPEED = 320;
  k.loadSprite("primera", "./PrimeraEv.png", {
    sliceX: 4,
    sliceY: 4,
    anims: {
      "idle-down": 0,
      "walk-down": { from: 0, to: 3, loop: true, speed: 8 },
      "idle-side": 4,
      "walk-side": { from: 4, to: 7, loop: true, speed: 8 },
      "idle-up": 8,
      "walk-up": { from: 8, to: 11, loop: true, speed: 8 },
    },
  });

  k.loadSprite("segunda", "./SegundaEv.png", {
    sliceX: 4,
    sliceY: 4,
    anims: {
      "idle-down": 0,
      "walk-down": { from: 0, to: 3, loop: true, speed: 8 },
      "idle-side": 4,
      "walk-side": { from: 4, to: 7, loop: true, speed: 8 },
      "idle-up": 8,
      "walk-up": { from: 8, to: 11, loop: true, speed: 8 },
    },
  });

  k.loadSprite("tercera", "./TerceraEv.png", {
    sliceX: 4,
    sliceY: 4,
    anims: {
      "idle-down": 0,
      "walk-down": { from: 0, to: 3, loop: true, speed: 8 },
      "idle-side": 4,
      "walk-side": { from: 4, to: 7, loop: true, speed: 8 },
      "idle-up": 8,
      "walk-up": { from: 8, to: 11, loop: true, speed: 8 },
    },
  });

  k.loadSprite("cuarta", "./CuartaEv.png", {
    sliceX: 4,
    sliceY: 4,
    anims: {
      "idle-down": 0,
      "walk-down": { from: 0, to: 3, loop: true, speed: 8 },
      "idle-side": 4,
      "walk-side": { from: 4, to: 7, loop: true, speed: 8 },
      "idle-up": 8,
      "walk-up": { from: 8, to: 11, loop: true, speed: 8 },
    },
  });

  const player = k.add([
    k.sprite("primera", { anim: "idle-down" }),
    k.scale(10),
    k.pos(250, 100),
    k.anchor("center"),
  ]);

  k.onUpdate("player", (player) => {
    if (player.pos.y > 400) {
      player.use(k.sprite("cuarta"));
    } else if (player.pos.y > 300) {
      player.use(k.sprite("tercera"));
    } else if (player.pos.y > 200) {
      player.use(k.sprite("segunda"));
    } else {
      player.use(k.sprite("primera"));
    }
  });

  k.onKeyDown("left", () => {
    player.move(-SPEED, 0);
    player.flipX = true;
    if (player.curAnim() !== "walk-side") player.play("walk-side");
    return;
  });
  k.onKeyDown("right", () => {
    player.move(SPEED, 0);
    player.flipX = false;
    if (player.curAnim() !== "walk-side") player.play("walk-side");
    return;
  });
  k.onKeyDown("up", () => {
    player.move(0, -SPEED);
    if (player.pos.y > 400) {
      player.use(k.sprite("cuarta"));
    } else if (player.pos.y > 300) {
      player.use(k.sprite("tercera"));
    } else if (player.pos.y > 200) {
      player.use(k.sprite("segunda"));
    } else {
      player.use(k.sprite("primera"));
    }
    if (player.curAnim() !== "walk-up") player.play("walk-up");
    return;
  });
  k.onKeyDown("down", () => {
    player.move(0, SPEED);
    if (player.pos.y > 400) {
      player.use(k.sprite("cuarta"));
    } else if (player.pos.y > 300) {
      player.use(k.sprite("tercera"));
    } else if (player.pos.y > 200) {
      player.use(k.sprite("segunda"));
    } else {
      player.use(k.sprite("primera"));
    }
    if (player.curAnim() !== "walk-down") player.play("walk-down");
    return;
  });

  // k.onClick(() => {
  //   player.moveTo(k.mousePos());
  // });
</script>
