---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Portfolio.">
  <main style="height: 100%;">
    <canvas style="height: 100%;" id="game"></canvas>
  </main>
</Layout>
<script>
  import kaboom from "kaboom";

  kaboom({
    font: "sans-serif",
    canvas: document.querySelector("#game"),
    background: [24, 24, 24],
  });
</script>
