---
import Layout from "../layouts/Layout.astro";

const img = "./person8bit.png";
---

<Layout title="Welcome to Portfolio.">
  <main class="h-screen flex justify-center">
    <div class="bg-[#2C1B47] h-full w-3/4">
      <h1 class="h1">Portfolio Dev - Jahdiel Arciniegas</h1>
      <p>Desarrollador Web con 2 años de experiencia</p>
    </div>
  </main>
</Layout>
